<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
<link rel="stylesheet" href="style/battle.css">
<link rel="stylesheet" href="style/menu.css">
<link rel="stylesheet" href="style/layout.css">
<body>
    <div id="app">
        <div id="battleDiv">
            <img :src="pokemonAtual.back" id="pokeSprite" :style="pokemon1Css">
            <img :src="pokemonInimigoAtual.front" id="enemyPokeSprite" :style="pokemon2Css">
    
            <div class="statusBar p1">
                
                <p class="pokeName">{{pokemonAtual.name}}</p>
                <p class="pokelvl">Lv100</p>
                <div class="lifeBar">
                    <div class="lifeBarPercent" :style="pokemonlifeBar1css"></div>
                    <div class="pokebolaDiv">
                        <img src="./images/pokebola.png" alt="pokebola" class="pokebola" v-for="pokebola in time">
                    </div>
                    <p>100 / {{pokemonAtual.hp}}</p>
                </div>
            </div>
            <div class="statusBar p2">
                <p class="pokeName">{{pokemonInimigoAtual.name}}</p>
                <p class="pokelvl">Lv100</p>
                <div class="lifeBar">
                    <div class="lifeBarPercent" :style="pokemonlifeBar2css"></div>
                    <div class="pokebolaDiv">
                        <img src="./images/pokebola.png" alt="pokebola" class="pokebolaInimiga" v-for="pokebola in timeInimigo">
                    </div>
                    <p>100 / {{pokemonInimigoAtual.hp}}</p>
                </div>
            </div>
        </div>
    
        <div class="options-div">
            <template v-if='endGame'>
                <button  class="button" @click="start"><h1>Start Game</h1></button>
            </template>
            <template v-if="menuPadrao">
                <button    class="options button" @click="openAttackMenu()">Attack</button>
                <button    class="options button" @click="openPokemonMenu()">Pokemon</button>
                <button    class="options button" @click="openHealMenu()">Heal</button>
                <button    class="options button" @click="giveUp('desistiu')">Give Up</button>
            </template>

            <template v-if="attackMenu">

            <div class="dropdown is-hoverable"
                v-for="(atk, key) in pokemonAtual.attack "
                :key="key"
                class="options button" 
                @click="iniciarAtk(atk)">
                <div class="dropdown-trigger">
                  <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
                    <span>{{key}}</span>
                    <span class="icon is-small">
                      <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                  </button>
                </div>
                <div class="dropdown-menu" id="dropdown-menu4" role="menu">
                  <div class="dropdown-content">
                    <div class="dropdown-item">
                      <p>pp: {{atk.pp}}</p>
                      <p>power: {{atk.atk}}</p>
                    </div>
                  </div>
                </div>
              </div>
                <button class="options button" @click="openAttackMenu()">back</button>
            </template>

            <template v-if="pokemonMenu">
                <template 
                v-for="(pokemon,key) in time"
                >
                    <button 
                    class="options button"
                    :disabled="disabled(pokemon)"
                    @click="trocarPokemon(pokemon)"
                     
                    >
                      <img :src="pokemon.front" :alt="pokemon.name" style="width:40px">
                      <span>{{pokemon.name}}</span></button>
                </template>
                <button    class="options button" @click="openPokemonMenu()">back</button>
            </template>

            <template v-if="healMenu">
                <div class="dropdown is-hoverable"
                    v-for="(healItem, key) in healItems"
                    :key="key"    
                    class="options button"
                    @click="heal(key)">

                    <div class="dropdown-trigger">
                      <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
                        <span>{{key}}</span>
                        <span class="icon is-small">
                          <i class="fas fa-angle-down" aria-hidden="true"></i>
                        </span>
                      </button>
                    </div>
                    <div class="dropdown-menu" id="dropdown-menu4" role="menu">
                      <div class="dropdown-content">
                        <div class="dropdown-item">
                          <p>Heal: {{healItem.hp}}</p><br>
                          <p>Quantity: {{healItem.quantity}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                <button    class="options button" @click="openHealMenu()">back</button>
            </template>
        </div>
        <div class="logDiv">
            <div v-for="message in bottomLogMessages" class="bottomMessages">
                <p>{{message}}</p>
            </div>
        </div>
        <div class="modal is-active" v-if="displayModal">
            <div class="modal-background"></div>
            <div class="modal-content">
                <div class="card">
                    <div class="card-content">
                      <div class="content">
                        <h2>Escolha seu time! (3 a 6 pokemons)</h2>
                        <hr>
                        <div id="pokeLista">
                            <div v-for="pokemon in pokemons" class="onePoke">
                                <label class="checkbox">
                                    <img :src="pokemon.front">
                                    <input type="checkbox" @change="criarTime(pokemon.name)">
                                  </label>
                            </div>
                        </div>
                        <button class="button is-primary is-outlined" @click="confirmarTime">Confirmar Time</button>
                      </div>
                    </div>
                  </div>
            </div>
          </div>
    </div>
</body>
<script src="./script/pokemon.js"></script>
<script src="script/vue.js"></script>