<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
<link rel="stylesheet" href="style/battle.css">
<link rel="stylesheet" href="style/menu.css">
<link rel="stylesheet" href="style/layout.css">
<body>
    <div id="app">
        <div id="battleDiv">
            <img :src="pokemonAtual.back" id="pokeSprite" :style="pokemon1Css">
            <img :src="pokemonInimigoAtual.front" id="enemyPokeSprite" :style="pokemon2Css">
    
            <div class="statusBar p1">
                
                <p class="pokeName">{{pokemonAtual.name}}</p>
                <p class="pokelvl">Lv100</p>
                <div class="lifeBar">
                    <div class="lifeBarPercent" :style="pokemonlifeBar1css"></div>
                    <div class="pokebolaDiv">
                        <img src="./images/pokebola.png" alt="pokebola" class="pokebola" v-for="pokebola in time">
                    </div>
                    <p>100 / {{pokemonAtual.hp}}</p>
                </div>
            </div>
            <div class="statusBar p2">
                <div class="pokebolaDiv">
                    
                </div>
                <p class="pokeName">{{pokemonInimigoAtual.name}}</p>
                <p class="pokelvl">Lv100</p>
                <div class="lifeBar">
                    <div class="lifeBarPercent" :style="pokemonlifeBar2css"></div>
                    <div class="pokebolaDiv">
                        <img src="./images/pokebola.png" alt="pokebola" class="pokebola" v-for="pokebola in time">
                    </div>
                    <p>100 / {{pokemonInimigoAtual.hp}}</p>
                </div>
            </div>
        </div>
    
        <div class="options-div">
            <template v-if='endGame'>
                <button  class="button" @click="start"><h1>Start Game</h1></button>
            </template>
            <template v-if="menuPadrao">
                <button    class="options button" @click="openAttackMenu()">Attack</button>
                <button    class="options button" @click="showAlert()">Pokemon</button>
                <button    class="options button" @click="openHealMenu()">Heal</button>
                <button    class="options button" @click="giveUp('desistiu')">Give Up</button>
            </template>

            <template v-if="attackMenu">
                <button
                v-for="(atk, key) in pokemonAtual.attack "
                :key="key"
                class="options button" 
                @click="iniciarAtk(atk)">
                {{key}}
            </button>
                <button class="options button" @click="openAttackMenu()">back</button>
            </template>

            <template v-if="pokemonMenu">
                <template 
                v-for="(pokemon,key) in time"
                >
                    <button class="options button" @click="showAlert()">{{key}}</button>
                </template>
                <button    class="options button" @click="openAttackMenu()">back</button>
            </template>
            <template v-if="healMenu">
                <template>
                    <button
                    v-for="(healItem, key) in healItems"
                    :key="key"    
                    class="options button"
                    @click="heal(key)"
                    >
                    {{key}}
                </button>
                </template>
                <button    class="options button" @click="openHealMenu()">back</button>
            </template>
        </div>
        <div class="logDiv">
            <div v-for="message in bottomLogMessages" class="bottomMessages">
                <p>{{message}}</p>
            </div>
        </div>
        <div class="modal is-active" v-if="displayModal">
            <div class="modal-background"></div>
            <div class="modal-content">
                <div class="card">
                    <div class="card-content">
                      <div class="content">
                        <h2>Escolha seu time! (3 pokemons)</h2>
                        <hr>
                        <div id="pokeLista">
                            <div v-for="pokemon in pokemons" class="onePoke">
                                <img :src="pokemon.front">
                                <label class="checkbox">
                                    <input type="checkbox" @change="criarTime(pokemon.name)">
                                  </label>
                            </div>
                        </div>
                        <button class="button is-primary is-outlined" @click="confirmarTime">Confirmar Time</button>
                      </div>
                    </div>
                  </div>
            </div>
            <button class="modal-close is-large" aria-label="close" @click="openModal"></button>
          </div>
    </div>
</body>
<script src="./script/pokemon.js"></script>
<script src="script/vue.js"></script>