body{
    background-color:#363636;
}
#app{
    width:400px;
    margin:0 auto;
    border-radius: 20px;
}
#pokeLista{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.onePoke{
    margin:10px;
    box-shadow: 1px 1px 1px 1px #d0d0d0;
    border-radius: 10px;    
}
.logDiv{
    width:400px;
    margin:auto;
    height: 120px;
    overflow-y: auto;
}
.bottomMessages{
    width: 360px;
    min-height: 30px;
    color:white;
    background-color:#6959CD;
    border-radius: 20px;
    margin:10px;
    text-align: center;
}
.bottomMessages:nth-child(2n) {
    background-color: #483D8B;
  }

